.modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 20;
  }
  .drag-constructor-modal.modal-content {
      position: absolute;
      text-align: center;
      outline: none;
      top: 20px;
      width: calc(100% - 40px);
      left: 50%;
      transform: translateX(-50%);
      background-color: transparent !important;
      border: none;
      display: flex;
      flex-flow: column;
  }
  .drag-constructor-modal .modal-pop-up__filler {
    background-color: transparent !important;
    flex: 1 1 auto;
  }
  .drag-constructor-modal .modal-content-body {
    position: relative;
    box-shadow: 0px 3px 12.2px 0.8px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    padding: 0;
    color: #333;
    overflow: auto;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Nunito", sans-serif; 
  }
  .drag-constructor-modal .modal-content .modal-pop-up_close {
    cursor: pointer;
    position: absolute;
    top: 0px;
    font-size: 32px;
    right: 5px;
    color: #fff;
  }
  @media (max-width: 800px){
    .modal-content {
      margin-left: 0px;
    }
  }
  .drag-constructor-modal .modal-content-body h2 {
    margin: 0;
    text-align: center;
    padding: 20px;
  }
.drag-constructor-modal .btn {
  width: 100%;
  margin: 0;
  border: none;
  padding: 20px;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
}
.drag-constructor-modal .btn:first-child {
  background-color: #fc7169;
  color: #fff;
}
.drag-constructor-modal.modal-content .modal-pop-up_close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 32px;
  color: #fff;
  opacity: .8;
  transition: .2s;
  width: 24px;
  height: 24px;
}
.drag-constructor-modal.modal-content .modal-pop-up_close:hover {
  opacity: 1;
  transition: .2s;
}
